html {
    background-color: var(--c_fundo);
}

main {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    color: var(--c_p1);

}

h1 {
    font-size: 20px;
    font-weight: bolder;
}

.main_container {
    background-color: var(--c_container);
    width: 900px;    
    height: 580px;
    border: 2px solid var(--c_borda);
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 30px rgba(100, 100, 100, 0.7), -2.5px -2.5px 30px rgba(100, 100, 100, 0.7);
    display: flex;
}

.t_input {
    border: 2px solid var(--c_borda);
    border-radius: 7px;
    background: darkgray;
    height: 1.2rem;
    width: 80%;
    margin-bottom: 1rem;
}

.Classification_Input {
    border: 2px solid var(--c_borda);
    border-radius: 7px;
    background: darkgray;
    height: 1.2rem;
    width: 20%;
    margin-bottom: 1rem;
}

.RateTitle_input{
    font-size: 14px;
    font-weight: bold;
    margin-right: 1rem;
}

.titulo_input {
    font-size: 14px;
    font-weight: bold;
    margin-right: 1rem;
    flex-grow: 1;
}

.b_input, .select_idade {
    font-size: 13px;
    color: var(--c_h1);
    border: 2px solid var(--c_borda);
    border-radius: 10px;
    background-color: var(--c_fundo);
    width: 20%;
    height: 1.5rem;
}

.b_input:hover {
    background-color: var(--c_container);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.border_bottom {
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--c_borda);
}

.form_scroll {
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    height: 50%;
}

.resultado_margin {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 540px) {
    main{
        margin-top: 0;        
    }
    .main_container {
        background-color: var(--c_container);
        height: 100%;
        overflow-y: auto;
    }
}